<div class="col-sm-12">
  <% if @books.any? %>
    <% @books.each_with_index do |book, index| %>
    <div class="row">
      <div class="search-result">
        <div class="col-md-3 col-sm-4 col-xs-5 book-main-cover">
          <%= link_to image_tag(book.image), author_book_path(book.author, book) %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-7">
          <div class="book-tile-details">
            <ul class="book-details">
            <li><h4><%= link_to book.title, author_book_path(book.author, book) %></h4></li>
            <li>by <%= link_to book.author.name, author_path(book.author) %></li>
            <li>ISBN <%= book.isbn %></li>
            <li><%= book.publisher %></li>
            <li><span class="star<%= index %>"></span> (<%= book.reviews.count %>)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <script>
    <% @books.each_with_index do |book, index| %>
      $('.star<%= index %>').raty({
        score: <%= book.reviews.count == 0 ? 0 : book.reviews.average(:rating) %>
      });
    <% end %>
    </script>
  <% end %>
</div>
