<% provide(:title, 'All Books') %>
<h1>All Books</h1>

<table>
  <tr>
    <th>Cover</th>
    <th>Title</th>
    <th>ISBN</th>
    <th>Publisher</th>
    <th>Pages</th>
    <th>Author</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= image_tag book.image %></td>
    <td><%= link_to book.title, author_book_path(book.author, book) %></td>
    <td><%= book.isbn %></td>
    <td><%= book.publisher %></td>
    <td><%= book.pages.to_s %></td>
    <td><%= link_to book.author.name, author_path(book.author) %></td>
  </tr>
  <% end %>
</table>

