<% provide(:title, "Search Results") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Search Results</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">

    <% if @books.any? %>
      <% if @books.count > 0 %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          <%= pluralize(@books.count, "book") %> found!
        </div>
      <% end %>

      <% @books.each_with_index do |book, index| %>
      <div class="row">
        <div class="search-result">
          <div class="col-md-3 col-sm-4 col-xs-5 book-main-cover">
            <%= link_to image_tag(book.image), author_book_path(book.author, book) %>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-7">
            <div class="book-tile-details">
              <ul class="book-details">
              <li><h4><%= link_to book.title, author_book_path(book.author, book) %></h4></li>
              <li>by <%= link_to book.author.name, author_path(book.author) %></li>
              <li>ISBN <%= book.isbn %></li>
              <li><%= book.publisher %></li>
              <li><span class="star<%= index %>"></span> (<%= book.reviews.count %>)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <script>
      <% @books.each_with_index do |book, index| %>
        $('.star<%= index %>').raty({
          score: <%= book.reviews.count == 0 ? 0 : book.reviews.average(:rating) %>
        });
      <% end %>
      </script>
    <% else %>
      <div class="no-results">
        <h2>No books found for your search</h2>
      </div>
    <% end %>

    </div>
  </div>
</div>