<% provide(:title, 'Search') %>

<div class="blog-post">
  <div class="page-header">
    <h2>Search</h2>
  </div>

  <div class="row">
  <%= form_tag(results_path, method: "get", class: "form-horizontal", id: "search-form") do %>
    <div class="form-group">
      <%= label_tag :author, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= text_field_tag :author, nil, class: "form-control", maxlength: 50 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :title, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= text_field_tag :title, nil, class: "form-control", maxlength: 100 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :isbn, "ISBN", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= select_tag :isbn, options_from_collection_for_select(@books, 'isbn', 'isbn_title_description') %>
      </div>
    </div>
    <script>
      $(function() {
        $('#isbn').selectize({ allowEmptyOption: true, sortField: 'text' });
      });
    </script>

    <div class="form-group">
      <%= label_tag :pages, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= select_tag :page_operator, operator_html_options, { class: "form-control", style: "float: left; width: 70px;" } %>
        <%= text_field_tag :pages, nil, { class: "form-control", style: "float: left; width: 100px;", maxlength: 5 } %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :categories, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <% if @categories_all.present? %>
          <% for category in @categories_all do %>
            <div class="checkbox">
              <label>
                <%= check_box_tag "categories[]", category.name %>
                <%= category.name.html_safe %>
              </label>
            </div>
          <% end %>
        <% else %>
          <label class="checkbox"><b>No categories found</b></label>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>