<% provide(:title, 'Search') %>
<h1>Search</h1>

<div class="row">
<%= form_tag(results_path, method: "get", class: "form-horizontal span5 offset2", id: "search-form") do %>
  <div class="control-group">
    <%= label_tag :author, nil, {class:"control-label"} %>
    <div class="controls">
      <%= text_field_tag :author, nil, {class:"input-block-level span4", maxlength:50} %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :title, nil, {class:"control-label"} %>
    <div class="controls">
      <%= text_field_tag :title, nil, {class:"input-block-level span4", maxlength:100} %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :isbn, "ISBN", {class:"control-label"} %>
    <div class="controls">
      <%= text_field_tag :isbn, nil, {class:"input-block-level span4", maxlength:10} %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :pages, nil, {class:"control-label"} %>
    <div class="controls">
      <div class="row-fluid">
        <div class="span3">
          <%= select_tag :page_operator, operator_html_options, {class:"input-block-level"} %>
        </div>
        <div class="span8">
          <%= text_field_tag :pages, nil, {class:"input-block-level", maxlength:5} %>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :subjects, nil, {class:"control-label"} %>
    <div class="controls">
      
      <% if not @subjects_all.nil? %>
        <ul class="subjects span4">
        <% for subject in @subjects_all do %>
          <li><label class="checkbox">
            <%= check_box_tag "subjects[]", subject.name %>
            <span><%= subject.name.html_safe %></span>
          </label></li>
        <% end %>
        </ul>
      <% else %>
        <label class="checkbox"><b>No subjects found</b></label>
      <% end %>

    </div>
  </div>
  <div class="form-actions span4">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%#= button_tag "Reset", class: "btn" %>
  </div>
<% end %>
</div>

