<div class="row">
  <div class="span7 offset2">
    <%= form_for(@author, html: {class:"form-horizontal"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="control-group">
        <%= f.label :last_name, nil, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :last_name %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :first_name, nil, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :dob, "Date of Birth", class: "control-label" %>
        <div class="controls">
          <%= f.date_select :dob, {order: [:month, :day, :year], :prompt => true, use_short_month: true, start_year: 1800, end_year: DateTime.now.year, default: Time.now, date_separator: " / "}, {style: "width: 90px;"} %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :nationality, nil, class: "control-label" %>
        <div class="controls">
          <%= f.select :nationality, author_nationalities %>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <%= f.submit button_label, class: "btn btn-primary" %>
          <%= link_to "Cancel", cancel_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
