<div class="row">
  <%= form_for(@author, html: { class:"form-horizontal" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :last_name, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dob, "Date of Birth", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.date_select :dob, { order: [:month, :day, :year], :prompt => true, use_short_month: true, start_year: 1800, end_year: DateTime.now.year, default: Time.now }, { class: "form-control", style: "float: left; width: 90px;" } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :nationality, nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.select :nationality, author_nationalities, {}, { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-3">
        <%= f.submit button_label, class: "btn btn-primary" %>
        <%= link_to "Cancel", cancel_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
