<% provide(:title, 'All Authors') %>
<h1>All Authors</h1>

<%# will_paginate %>

<ul class="users">
  <%# render @authors %>
  
  <% @authors.each do |a| %>
    <li>
      <%= link_to a.name, a %> <i class="icon-chevron-right"></i> <%= pluralize(a.books.count, "book") %>
      <% if a.books.count > 0 %>
        including <i><%= link_to a.books.first.title, author_book_path(a, a.books.first) %></i>
      <% if a.books.count > 1 %>
        and <i><%= link_to a.books.last.title, author_book_path(a, a.books.last) %></i>
      <% end %><% end %>
    </li>
  <% end %>
</ul>

<%# will_paginate %>
<br/><br/>

<% if signed_in? && current_user.admin? %>
  <%= link_to "Add new author", new_author_path, class: "btn btn-primary" %>
<% end %>

<br/><br/>

Page Visits: <%= @visits %>

