<% provide(:title, 'All Authors') %>

<div class="blog-post">
  <h2 class="blog-post-title center">All Authors</h2>

  <div class="row">
  <ul class="authors">
    <% @authors.each do |a| %>
      <li>
        <%= link_to a.name, a %> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <%= pluralize(a.books.size, "book") %>
        <% if a.books.size > 0 %>
          including <i><%= link_to a.books.first.title, author_book_path(a, a.books.first) %></i>
        <% if a.books.size > 1 %>
          and <i><%= link_to a.books.last.title, author_book_path(a, a.books.last) %></i>
        <% end %><% end %>
      </li>
    <% end %>
  </ul>
  </div>

  <br/><br/>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-5">
    <% if signed_in? && current_user.admin? %>
      <%= link_to "Add new author", new_author_path, class: "btn btn-primary" %>
      <br/><br/>
    <% end %>

      Page Visits: <%= @visits %>
    </div>
  </div>
</div>
