<% provide(:title, "#{@author.name}".html_safe) %>

<div class="blog-post">
  <div class="page-header">
    <h2>Author Profile</h2>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <h4><%= @author.name %></h4>
      <h4><%= @author.formatted_dob %></h4>
      <h4><%= @author.nationality_name %></h4>

      <br/>

      <%= link_to "Add Book", new_author_book_path(@author), class: "btn btn-primary" %>
      <% if current_user.admin? %>
        <%= link_to "Edit Author", edit_author_path, class: "btn btn-primary" %>
        <% if !@books.any? %>
          <%= link_to "Delete Author", @author, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
        <% end %>
      <% end %>

      <div class="book-container">
      <% if @books.empty? %>
        <h4>No books found for this author</h4>
      <% else %>
        <% @books.each_with_index do |book, index| %>
          <div class="book-tile col-md-3 col-sm-4 col-xs-6">
            <div class="book-cover">
              <%= link_to image_tag(book.image), author_book_path(@author, book) %>
            </div>
            <div class="book-tile-details">
              <ul class="book-details">
              <li><%= link_to book.title, author_book_path(@author, book) %></li>
              <li><%= book.isbn %></li>
              <li><%= book.publisher %></li>
              <li><span class="star<%= index %>"></span> (<%= book.reviews.count %>)<br/>
              <%= link_to "Edit", edit_author_book_path(@author, book) %>
              <% if current_user.admin? %>
              | <%= link_to "Delete", ([@author, book]), method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %></li>
              </ul>
            </div>
          </div>
        <% end %>
        <script>
        <% @books.each_with_index do |book, index| %>
          $('.star<%= index %>').raty({
            score: <%= book.reviews.count == 0 ? 0 : book.reviews.average(:rating) %>
          });
        <% end %>
        </script>
      <% end %>
      </div>
    </div>
  </div>
</div>
