<% provide(:title, @author.name) %>

<h3><%= @author.name %></h3>
<h3>Date of Birth: <%= @author.formatted_dob %></h3>
<h3>Nationality: <%= @author.nationality %></h3>

<br/>

<% if signed_in? %>
  <%= link_to "Add Book", new_author_book_path(@author), class: "btn btn-primary" %>
  
  <%= link_to "Edit Author", edit_author_path, class: "btn btn-primary" %>

  <% if current_user.admin? && !@books.any? %>
    <%= link_to "Delete Author", author_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
<% end %>

<br/><br/>


  <% if @books.any? %>
    <h2><%= pluralize(@books.count, "book") %> found</h2>
    
    <% @books.each_with_index do |book, index| %>
    
    <% if index%4 == 0 %>
      <div class="books-row">
    <% end %>
    
    <div class="book-tile">
      <div class="book-cover">
        <%= link_to image_tag(book.image), author_book_path(@author, book) %>
      </div>
  
      <div class="book-tile-details">
        <ul class="book-details">
        <li><%= link_to book.title, author_book_path(@author, book) %>
        <li>ISBN <%= book.isbn %>
        <li><%= book.publisher %>
        <li><span class="star<%= index %>"></span> (<%= book.reviews.count %>)<br/>
        <%= link_to "Edit", edit_author_book_path(@author, book) %>
        <% if current_user.admin? %>
        | <%= link_to "Delete", ([@author, book]), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
        </ul>
      </div>
    </div>

    <% if (index+1)%4 == 0 || (index+1) == @books.length %>
      </div>
    <% end %>
  
    <% end %>
    
    <script>
    <% @books.each_with_index do |book, index| %>
      $('.star<%= index %>').raty({
        score: <%= book.reviews.count == 0 ? 0 : book.reviews.average(:rating) %>
      });
    <% end %>
    </script>
  <% else %>
    <h2>No books found for this author</h2>
  <% end %>
