<% provide(:title, "Update Profile") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Update Profile</h2>
  </div>

  <div class="row">
    <%= form_for(@user, html: { class:"form-horizontal" }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :last_name, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :first_name, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password", class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
          <%= f.submit "Save changes", class: "btn btn-primary" %>
          <%= link_to "Cancel", user_path(@current_user), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
