<% provide(:title, 'All users') %>

<div class="blog-post">
  <div class="page-header">
    <h2>All Users</h2>
  </div>

  <div class="row">
    <div class="col-sm-12">
    <%= will_paginate %>

    <div class="table-responsive">
      <table class="table table-condensed">
        <tr class="active">
          <td><strong>Username</strong></td>
          <td><strong>Name</strong></td>
          <td class="center"><strong>Confirmed?</strong></td>
          <td class="center"><strong>Admin</strong></td>
          <td class="center"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tr>
      <% @users.each do |user| %>
        <tr<%= user.admin ? ' class=warning' : '' %>>
          <td><%= link_to user.username, user %></td>
          <td><%= user.name %></td>
          <td class="center"><%= user.email_confirmed ? date_format(user.created_at) : 'No' %></td>
          <td class="center"><%= user.admin ? 'Yes' : 'No' %></td>
          <% if current_user.admin? && !current_user?(user) %>
            <td class="center"><%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, user, method: :delete, data: { confirm: "You sure?" } %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>

    <%= will_paginate %>
    </div>
  </div>
</div>