<% provide(:title, "Google Books Import") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Google Books Import</h2>
  </div>

  <div id="book-main">
    <div class="book-main-cover">
      <%= image_tag(@gbook.image_link) %>
    </div>
    <div class="book-main-details">
      <h3><%= @gbook.title %></h3>
      <ul class="book-details">
        <li>by <%= @gbook.authors %>
        <li>ISBN: <%= @gbook.isbn_10 %>
        <li>Publisher: <%= @gbook.publisher %>
        <li>Published Date: <%= @gbook.published_date %>
        <li>Pages: <%= @gbook.page_count %>
        <li>Google Books Ratings Count: <span class="star"></span> (<%= @gbook.ratings_count %>)
        <li>Google Books Average Rating: <span class="g-star"></span> (<%= @gbook.average_rating %>)
        <li>Categories: <%= @gbook.categories %>
      </ul>
    </div>

    <div id="book-description"><p><%= @gbook.description %></p></div>
  </div>

  <div class="row">
    <%= form_for(@author, url: {action: "create"}, html: {class:"form-horizontal"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :last_name, id: 'last_name' %>
      <%= f.hidden_field :first_name, id: 'first_name' %>

      <%= f.fields_for :books do |b| %>
        <%= b.hidden_field :title, id: 'title' %>
        <%= b.hidden_field :isbn, id: 'isbn' %>
        <%= b.hidden_field :publisher, id: 'publisher' %>
        <%= b.hidden_field :published_date, id: 'published_date' %>
        <%= b.hidden_field :pages, id: 'pages' %>
        <%= b.hidden_field :description, id: 'description' %>
        <%= hidden_field_tag :cover_image, @gbook.image_link(zoom:1) %>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <div class="checkbox">
              <label>
                 <%= check_box_tag :import_cover_image, true, { checked: true } %> Import Cover Image
              </label>
            </div>
          </div>
        </div>

        <%= b.fields_for :categories do |c| %>
          <%= c.hidden_field :name, id: 'category_name' %>
        <% end %>
      <% end %>

      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4 center">
          <%= f.submit 'Import Author and Book', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>