<blockquote>
  <ul class="book-details">
    <li>Rating: <%= review.rating %></li>
    <li>Comments: <%= review.comments %></li>
    <li>
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <%= button_to(review.likes, author_book_review_like_path(@author, @book, review.id), class:"btn btn-success btn-xs", method: :put )%> /
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      <%= button_to review.dislikes, author_book_review_dislike_path(@author, @book, review.id), class:"btn btn-danger btn-xs", method: :put %>
    </li>
    <li>Reviewed on <%= date_format(review.created_at) %> by <%= review.user.name %>

    <% if current_user == review.user %>
      (<%= link_to "Edit", edit_author_book_review_path(@author, @book, review) %>
      <% if current_user.admin? %>
        | <%= link_to "Delete", ([@author, @book, review]), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>)
    <% end %>
  </ul>
</blockquote>
 
