<% provide(:title, "Edit book") %>
<h1>Update Book</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@author, @book]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :isbn, "ISBN" %>
      <%= f.text_field :isbn, maxlength: 10 %>
      
      <%= f.label :title %>
      <%= f.text_field :title, maxlength: 100 %>
      
      <%= f.label :publisher %>
      <%= f.text_field :publisher, maxlength: 50 %>
      
      <%= f.label :pages %>
      <%= f.text_field :pages, maxlength: 5 %>
      
      <%= label_tag :author %>
      <%= text_field_tag "author", @author.name, :readonly => true %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
