<% provide(:title, @book.title) %>

<div id="book-main">
  <div id="book-main-cover">
    <%= image_tag(@book.image) %>
  </div>
  <div id="book-main-details">
    <h3><%= @book.title %></h3>
    by <%= link_to @author.name, author_path(@author) %><br/>
    ISBN: <%= @book.isbn %><br/>
    Publisher: <%= @book.publisher %><br/>
    Pages: <%= @book.pages %><br/>
    Book-It-Away Average Rating: <span class="star"></span> (<%= @book.reviews.count %>)<br/>
    Google Books Average Rating: <span class="g-star"></span> (<%= @book.ratings_count %>)<br/>
    Subjects: <%#= @book.get_subjects %>
  </div>

  <div id="book-timestamps">
    Created: <%= @book.created_at %><br/>
    Last updated: <%= @book.updated_at %><br/>

    <%= link_to "Edit Book", edit_author_book_path(@author, @book), class:"btn btn-primary" %>
    <% if current_user.admin? %>
      <%= link_to "Delete Book", ([@author, @book]), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="review-main">
  <h3>Reviews (<%= @reviews.count %>)</h3>
  <%= link_to "Write a review", new_author_book_review_path(@author, @book), class:"btn btn-primary" %>
  <br/><br/>
  
  <% if @reviews.any? %>
    <%= render partial: 'books/review', collection: @reviews %>
  <% end %>
</div>

<script>
  $('.star').raty({
    readOnly: true,
    score: <%= rating_format(@book.reviews.average(:rating)) %>,
    hints:['horrible','bad','unremarkable','good','awesome'],
    path: '/assets'
  });
  
  $('.g-star').raty({
    readOnly: true,
    score: <%= @book.average_rating %>,
    hints:['horrible','bad','unremarkable','good','awesome'],
    path: '/assets'
  });
</script>
