<% provide(:title, 'All Book Subjects') %>
<h1>All Book Subjects</h1>

<div class="span6 offset3">
  <table class="table table-striped">
  <thead>
    <tr>
      <th class="span1">#</th>
      <th class="span4">Name</th>
      <th class="span1">Books</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each_with_index do |s,i| %>
    <tr>
      <td><span class="muted"><%= i+1 %></span></td>
      <td><%= s.name %> (<%= link_to 'Edit', edit_subject_path(s) %>)</td>
      <td><%= s.books.count %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <br/>
  <div class="span2 offset1">
    <%= link_to "Add new subject", new_subject_path, class: "btn btn-primary" %>
  </div>
</div>
