<div class="row">
  <div class="span6 offset3">
    <%= form_for(@category, html: {class:"form-inline"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row-fluid">
        <%= f.text_field :name, {class:"input-large", placeholder:"Type category here"} %>
        <%= f.submit button_label, class: "btn btn-primary" %>
        <%= link_to "Cancel", categories_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

