<% provide(:title, "Edit Review") %>
<h1>Update Review</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@author, @book, @review]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= label_tag :book %>
      <%= text_field_tag "book", @book.title, :readonly => true %>
      
      <%= f.label :rating %>
      <div id="user_star" class="raty"></div>
      <%#= f.number_field :rating, min: 0, max: 5, step: 0.5 %>
      
      <%= f.label :comments %>
      <%= f.text_area :comments, rows: 10 %>
      
      <%= f.submit "Update Review", class: "btn btn-primary" %>
      <%= link_to "Cancel", author_book_path(@author, @book), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $('#user_star').raty({
    score: <%= @review.rating %>,
    hints:['horrible','bad','unremarkable','good','awesome'],
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/authors/' + <%= @author.id %> + '/books/' + <%= @book.id %> + '/reviews/' + <%= @review.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>
