<% provide(:title, "Update Review") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Update Review</h2>
  </div>

  <div class="row">
    <%= form_for([@author, @book, @review], html: { class:"form-horizontal" }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= label_tag :book, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= text_field_tag "book", @book.title, class: "form-control", disabled: true %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :rating, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <div id="user_star" class="raty"></div>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :comments, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.text_area :comments, rows: 10, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
          <%= f.submit "Save Changes", class: "btn btn-primary" %>
          <%= link_to "Cancel", author_book_path(@author, @book), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#user_star').raty({
    readOnly: false,
    score: <%= @review.rating %>,
    click: function(score, evt) {
      $.ajax({
        url: '/authors/' + <%= @author.id %> + '/books/' + <%= @book.id %> + '/reviews/' + <%= @review.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>
